/**
 * style.css
 * =========
 *
 * Mise en page des éléments généraux et structurels
 * 
 * Auteur : Anthony Lozano (2015), d'après la version de Emilie Graton (2012)
 * version : 2.0.3
 */

/*
 * Général
 * -------
 */

* {
  margin: 0;
  padding: 0;
}

a {
  transition: all 200ms ease-in-out;
}

h1, h2, h3, h4 {
  color: #1B5E20;
}

p {
  margin: 8px 3px;
}

/*
 * Mise en page des éléments de structure
 * ======================================
 */

html, body {
    height: 100%;
}

body {
    background-color: #EEEEEE;
    font-family: Arial;
}

#page {
  display : table;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px 0px;
}

header {
  background-color: #EEEEEE;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px 0px;
}

header, section {
  display : block;
}

header, section, footer {
  max-width: 100%;
}

section {
  padding: 25px;
}

footer {
  display : table-row;
  height: 100px;
  background-color: #EEEEEE;
}

#innerFooter {
  border: solid 5px transparent;
  border-top: solid 1px #A9A9A9;
  padding: 25px;
  text-align: center;
}

/*
 * Bouton nav#totop & nav#print
 * ============================
 */

#totop,
#print {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #DE6461;
  background-image: url("../images/iconnav/totop.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  bottom: 15px;
  transition: all 200ms ease-in-out;
}

#totop {
  background-image: url("../images/iconnav/totop.png");
  right: 15px;
}

#print {
  background-image: url("../images/iconnav/print.png");
  right: 75px;
}

#totop a {
  width: 50px;
  height: 50px;
  display: block;
}

#print input {
  height: 100%;
  width: 100%;
  border: none;
  display: block;
  background: transparent;
  color: transparent;
}

#totop:hover,
#print:hover {
  transform: scale(1.2);
}

/*
 * Animation highlight
 * ===================
 */

.highlight {
  /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/
  -webkit-animation: brille 4000ms ease-in-out 0 infinite;
     -moz-animation: brille 4000ms ease-in-out 0 infinite;
       -o-animation: brille 4000ms ease-in-out 0 infinite;
          animation: brille 4000ms ease-in-out 0 infinite;
}

@-webkit-keyframes brille {
    0%, 100% {  box-shadow: 0px 0px 6px 1px rgba(  0,   0,   0, .8);  }
          50%{  box-shadow: 0px 0px 8px 1px rgba( 10,  90, 255, .8);  }
}

@-moz-keyframes brille {
    0%, 100% {  box-shadow: 0px 0px 6px 1px rgba(  0,   0,   0, .8);  }
          50%{  box-shadow: 0px 0px 8px 1px rgba( 10,  90, 255, .8);  }
}

@-o-keyframes brille {
    0%, 100% {  box-shadow: 0px 0px 6px 1px rgba(  0,   0,   0, .8);  }
          50%{  box-shadow: 0px 0px 8px 1px rgba( 10,  90, 255, .8);  }
}

@keyframes brille {
    0%, 100% {  box-shadow: 0px 0px 6px 1px rgba(  0,   0,   0, .8);  }
          50%{  box-shadow: 0px 0px 8px 1px rgba( 10,  90, 255, .8);  }
}


/*
 * Section
 * =======
 */

section h2 {
  font-size: 16pt;
  margin: 3px 0;
}

section p {
  font-size: 12pt;
  color: #2E2E2E;
}

section .container {
  max-width: 640px;
  display: block;
  margin: 10px auto;
}

/*
 * Option
 * ======
 */

option {
  background-color: #FFFFFF;
}

option:nth-child(odd){
  background-color: #F5F5F5;
}


/*
 * Snackbar
 * ========
 */

#snackbar {
  position: fixed;
  bottom: 0;
  right: 100px;
  width: 240px;
  background-color: #FBFDFB;
  box-shadow: 0px 0px 6px 3px rgba(64, 64, 64, .2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  display: none;
}

#snackbar #snack {
  display: block;
  height: 36px;
  width: 100%;
  background-color: #4CAF50;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px;
  font-size: 12pt;
}

#snackbar #snack p {
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  margin: 0;
  padding: 8px 15px 0px;
}

#snackbar #snack img {
  float: left;
  height: 36px;
  width: 36px;
}

#snackbar #bar {
  font-size: 10pt;
  padding: 10px;
  min-height: 150px;
  width: calc(100% - 20px);
}

#snackbar span {
  font-weight: bold;
  color: #800000;
  margin-top: 5px;
  display: inline-block;
}
/*
 * Bouton
 * ------
 */

.button {
  transition: all 150ms ease-in-out;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  margin: 0 auto;
  background-color: #4CAF50;
  border: none;
  border-bottom: solid 4px #1B5E20;
  font-weight: bold;
  color: #FFFFFF;  
}

.button:hover {
  margin-top: 2px;
  border-bottom: solid 2px #1B5E20;
}

.button:active {
  margin-top: 4px;
  background-color: #43A047;
  border-bottom: solid 0px #1B5E20;
}

/*.button-success {
  background-color: #4CAF50;
  border-bottom: solid 4px #1B5E20;
}

.button-success:hover  {
  margin-top: 2px;
  border-bottom: solid 2px #1B5E20;
}

.button-success:active {
  margin-top: 4px;
  background-color: #43A047;
  border-bottom: solid 0px #1B5E20;
}
*/
#table_print th {
  text-align: left;
}

#table_print {
  margin: 20px auto;
}

button.button {
  /*margin: 20px auto;*/
  display: block;
}

/*
 * nav.retour
 * ----------
 */

nav.retour {
  display: block;
  background-color: #F5F5F5;
  border: solid 1px #BDBDBD;
  border-radius: 3px;
  max-width: 320px;
  margin: 10px 0;
}

nav.retour a {
  display: block;
  text-decoration: none;
}

nav.retour img,
nav.retour p {  
  display: inline-block;
  vertical-align: middle;
  color: #0000A0;
}

nav.retour:hover p{ 
  text-decoration: underline;
}

/*
 * Evolution
 * ---------
 */


.histo table {
  width: calc(100% - 10px);
  display: block;
  vertical-align: top;
  background-color: #F5F5F5;
  border: solid 1px #BDBDBD;
  border-radius: 3px;
  /*padding: 5px;*/
  margin: 5px auto;
  border-collapse: collapse;
  white-space: nowrap;
}

.histo th {
  padding: 2px 10px;
  width: 100%
}

.histo td {
  padding: 2px 10px;
}

.histo tbody tr:nth-child(odd) {
  background-color: #F5F5F5;
}

.histo tbody tr:nth-child(even) {
  background-color: #DADADA;
}

.histo tbody {
  background-color: #DADADA;
}

.error-input {
  border-color: rgba(255, 0, 9, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.07) inset, 0 0 8px rgba(255, 0, 9, 0.6);
  outline: 0 none;
}

.error-text {
    color: rgba(255, 0, 9, 0.8);
}

/*
 * Page utilisateur inconnu
 */

.inconnu img {
  display: block;
  margin: 25px auto;
}

/*
 * Canvas
 * ------
 */

canvas {
  display: block;
  margin: 10px auto;
}