<header>
	<div id="entete">
		<div class="logo"></div><!--
	 --><div class="welcome_msg">
		</div><!--
	 --><nav class="welcome_nav">
		</nav>
	</div>
	<hr>
	<nav id="menu">

	</nav>
</header>